@import "palette.scss";

$spacer: 0.5rem !default;

$dark-color: $blue-9 !default;
$main-bg-color: $indigo-0 !default;
$main-fg-color: $black-0 !default;

// Deck

$card-min-width: 15rem !default;
$card-default-width: 15rem !default;
$card-header-color: $blue-5 !default;
$card-fg-color: $main-fg-color !default;
$card-bg-color: $blue-1 !default;
$card-header-height: 8em !default;
$card-footer-height: 3em !default;
$media-figure-width: 300px !default;

\:root {
  --spacer: #{$spacer};

  --dark-color: #{$dark-color};
  --main-bg-color: #{$main-bg-color};
  --main-fg-color: #{$main-fg-color};

  --card-min-width: #{$card-min-width};
  --card-default-width: #{$card-default-width};
  --card-header-color: #{$card-header-color};
  --card-fg-color: #{$card-fg-color};
  --card-bg-color: #{$card-bg-color};
  --card-header-height: #{$card-header-height};
  --card-footer-height: #{$card-footer-height};
  --media-figure-width: #{$media-figure-width};
}
