@import "variables.scss"

$button-bg-color: $blue-8 !default
$button-fg-color: $indigo-0 !default
$button-bg-color-hover: $indigo-9 !default

button,
.button
  color: $button-fg-color
  background-color: $button-bg-color
  border: none
  font-size: 0.833rem
  padding: 1em 1.5em
  text-decoration: none
  text-transform: uppercase
  cursor: pointer
  margin: 0

.button.inverted
  background-color: $button-fg-color
  color: $button-bg-color
  border: thin solid $button-bg-color
  border-radius: 0.25em

.bg-clear
  background-color: transparent

.button:hover,
.button:focus
  color: $button-fg-color
  background-color: $button-bg-color-hover
