form,
form * {
  box-sizing: border-box;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem;
  /* box-shadow: none; */
  /* border: thin solid lightgray; */
  margin-top: 1em;
}

label + input,
label + select,
label + textarea {
  margin-top: 0;
}

form button {
  margin-top: 1em;
}

label {
  margin-top: 0.5em;
  display: inline-block;
  padding: 0.25em 0.25em 0.25em 0;
}

input + label {
  margin: 0 1em 0 0.25em;
}

input[type="submit"] {
  width: auto;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-top: 0;
}

.form-check-inline,
.custom-control-inline {
  display: inline-flex;
  align-items: center;
}
