@import "./_variables.scss"

$body-fg-color: $main-fg-color !default
$body-bg-color: $main-bg-color !default


\:root
  --body-fg-color: $body-fg-color
  --body-bg-color: $body-bg-color


body
  color: var(--body-fg-color)
  background-color: var(--body-bg-color)
