@import "./_variables.scss"

body
  $body-fg-color: $main-fg-color !default
  $body-bg-color: $main-bg-color !default
  color: $body-fg-color
  background-color: $body-bg-color

.container
  max-width: 1200px
  margin: 0 auto
  padding: 2rem
