// Modern container responsive grid (.grid) with .flexgrid fallback for IE11

// see https://moderncss.dev/container-query-solutions-with-css-grid-and-flexbox/

@use "sass:math"
@import "variables.scss"

$grid-min: 20rem  // grid will wrap when free space less than this

\:root
  --grid-min: #{$grid-min} 
  --grid-gap: #{2 * $spacer}

@mixin grid() // for modern browsers eg. Chrome, FF, Edge  not IE 10/11
  /* autoprefixer grid: off */
  display: grid
  grid-gap: var(--grid-gap)
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-min), 1fr))

@mixin flexgrid()  // .grid for older browsers eg. IE11
  display: flex
  flex-wrap: wrap
  margin: calc( 0 - ( var(--grid-gap) ) / 2  ) !important  // counteract grid gap
  > *, > li   // default is "pancake" wrapping (refer to link)
    flex-shrink: 1 // is default value - NB shrinks only after wrap
    flex-grow: 1
    flex-basis: var(--grid-min)
    // simulated grid gap
    margin: calc(var(--grid-gap) / 2 ) !important
  &.albatross > *   // "albatross" wrapping (refer to link)
    xmargin: 0
    flex-basis: calc((var(--grid-min)  - 100%) * 999)

@supports (display: grid)
  .grid:not(.flex)
    @include grid()

@media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) // IE11
  .grid, ul.grid
    xmargin: 0
    @include flexgrid()

.grid.flex, .flexgrid, ul.flexgrid // flexbox grid. flex.grid = .grid.flex
  @include flexgrid()

.flex--auto // refer to linked article for description
  flex: 0 1 auto