// Modern container responsive grid (.grid) with .flexgrid fallback for IE11

// Inspired by https://moderncss.dev/container-query-solutions-with-css-grid-and-flexbox/

@import "variables.scss"

$grid-min: 20rem

\:root
  --grid-min: #{$grid-min}
  --spacer: #{$spacer}
  --grid-gap: #{2 * $spacer}

// .grid for modern CSS browsers eg. for Chrome, FF, Edge  not IE 10/11

@mixin grid()
    /* autoprefixer grid: off */
    display: grid
    grid-gap: var(--grid-gap)
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-min), 1fr))

// .grid for older browsers eg. IE11

@mixin flexgrid()  
  display: flex
  flex-wrap: wrap
  margin: calc(var(--grid-gap) / -2 ) !important // counteract item margin

  // default is "pancake" break (refer to link)

  > *
    flex-shrink: 1
    flex-grow: 1
    flex-basis: var(--grid-min)
    margin: calc(var(--grid-gap) / 2 ) // simulated grid gap
  
  // "albatross" break (refer to link)

  &.albatross > *
    flex-basis: calc((var(--grid-min)  - 100%) * 999)

.grid
  @supports (display: grid)
    &:not(.flex)
      @include grid()
  @media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) // IE11
    @include flexgrid()
  &.flex // force flex version of .grid
    @include flexgrid()

// .flex.grid, same as .grid.flex
.flexgrid
  @include flexgrid()

.flex--auto // refer to linked article for description
  flex: 0 1 auto