// experimental
$c0: #10528a !default;
$c1: #39cdf7 !default;
$c2: #faf3f4 !default;
$c3: #f49227 !default;
$c4: #fa7108 !default;

// simplest
$navy: #001f3f !default;
$blue: #0074d9 !default;
$aqua: #7fdbff !default;
$teal: #39cccc !default;
$olive: #3d9970 !default;
$green: #2ecc40 !default;
$lime: #01ff70 !default;
$yellow: #ffdc00 !default;
$orange: #ff851b !default;
$red: #ff4136 !default;
$fuchsia: #f012be !default;
$purple: #b10dc9 !default;
$maroon: #85144b !default;
$white: #ffffff !default;
$silver: #dddddd !default;
$gray: #aaaaaa !default;
$black: #111111 !default;
$white: #eeeeee !default;

// generated
$base-0: #003c86 !default;
$black-0: #394049 !default;
$gray-0: #f9f9fa !default;
$gray-1: #ededee !default;
$gray-2: #e0e1e2 !default;
$gray-3: #d1d3d5 !default;
$gray-4: #c2c4c7 !default;
$gray-5: #b0b3b7 !default;
$gray-6: #9da0a5 !default;
$gray-7: #85898f !default;
$gray-8: #676d74 !default;
$gray-9: #394049 !default;
$blue-0: #f8fafc !default;
$blue-1: #e9eef4 !default;
$blue-2: #d9e2ed !default;
$blue-3: #c7d4e4 !default;
$blue-4: #b4c6db !default;
$blue-5: #9eb5d1 !default;
$blue-6: #86a2c5 !default;
$blue-7: #688cb7 !default;
$blue-8: #416ea5 !default;
$blue-9: #003c86 !default;
$indigo-0: #f9f9fc !default;
$indigo-1: #ededf6 !default;
$indigo-2: #e0dff0 !default;
$indigo-3: #d2d1e9 !default;
$indigo-4: #c2c1e1 !default;
$indigo-5: #b1afd9 !default;
$indigo-6: #9d9bcf !default;
$indigo-7: #8682c4 !default;
$indigo-8: #6762b5 !default;
$indigo-9: #332d9c !default;
$violet-0: #fbf9fc !default;
$violet-1: #f1ebf6 !default;
$violet-2: #e7ddef !default;
$violet-3: #dccee8 !default;
$violet-4: #d0bde0 !default;
$violet-5: #c2aad6 !default;
$violet-6: #b394cc !default;
$violet-7: #a079c0 !default;
$violet-8: #8756af !default;
$violet-9: #5c1992 !default;
$fuschia-0: #fcf8fc !default;
$fuschia-1: #f5eaf5 !default;
$fuschia-2: #eedbed !default;
$fuschia-3: #e6cbe5 !default;
$fuschia-4: #ddb8dc !default;
$fuschia-5: #d4a4d1 !default;
$fuschia-6: #c88cc5 !default;
$fuschia-7: #ba6eb6 !default;
$fuschia-8: #a745a2 !default;
$fuschia-9: #760070 !default;
$pink-0: #fcf8fa !default;
$pink-1: #f5ebef !default;
$pink-2: #eedce4 !default;
$pink-3: #e7ccd8 !default;
$pink-4: #debaca !default;
$pink-5: #d5a6bb !default;
$pink-6: #ca8fa9 !default;
$pink-7: #bc7294 !default;
$pink-8: #aa4c76 !default;
$pink-9: #81003a !default;
$red-0: #fcf9f8 !default;
$red-1: #f5ebeb !default;
$red-2: #eedddc !default;
$red-3: #e7cdcc !default;
$red-4: #debcba !default;
$red-5: #d5a8a6 !default;
$red-6: #ca928f !default;
$red-7: #bc7672 !default;
$red-8: #aa514c !default;
$red-9: #830700 !default;
$orange-0: #fbf9f7 !default;
$orange-1: #f3ede5 !default;
$orange-2: #eadfd2 !default;
$orange-3: #e0d1be !default;
$orange-4: #d5c1a7 !default;
$orange-5: #c9af8e !default;
$orange-6: #bc9a71 !default;
$orange-7: #ab814e !default;
$orange-8: #956120 !default;
$orange-9: #603500 !default;
$yellow-0: #f9faf4 !default;
$yellow-1: #eeefdd !default;
$yellow-2: #e1e3c4 !default;
$yellow-3: #d4d6a9 !default;
$yellow-4: #c5c88b !default;
$yellow-5: #b4b869 !default;
$yellow-6: #a0a642 !default;
$yellow-7: #898f13 !default;
$yellow-8: #6b7100 !default;
$yellow-9: #3f4200 !default;
$lime-0: #f7faf5 !default;
$lime-1: #e7f0e0 !default;
$lime-2: #d6e6ca !default;
$lime-3: #c3dab1 !default;
$lime-4: #afcd96 !default;
$lime-5: #97bf77 !default;
$lime-6: #7cae53 !default;
$lime-7: #5a9927 !default;
$lime-8: #377b00 !default;
$lime-9: #204800 !default;
$green-0: #f6fbf6 !default;
$green-1: #e2f1e3 !default;
$green-2: #cee8cf !default;
$green-3: #b7ddb9 !default;
$green-4: #9dd0a0 !default;
$green-5: #80c383 !default;
$green-6: #5db261 !default;
$green-7: #309d36 !default;
$green-8: #007e07 !default;
$green-9: #004b04 !default;
$teal-0: #f6fbf8 !default;
$teal-1: #e2f1ea !default;
$teal-2: #cce7db !default;
$teal-3: #b4dcca !default;
$teal-4: #9acfb7 !default;
$teal-5: #7cc1a2 !default;
$teal-6: #59b089 !default;
$teal-7: #2c9b69 !default;
$teal-8: #007d45 !default;
$teal-9: #004a29 !default;
$cyan-0: #f6fafb !default;
$cyan-1: #e2f0f1 !default;
$cyan-2: #cce6e7 !default;
$cyan-3: #b5dadc !default;
$cyan-4: #9bcdcf !default;
$cyan-5: #7dbec1 !default;
$cyan-6: #5aacb1 !default;
$cyan-7: #2f979c !default;
$cyan-8: #00787f !default;
$cyan-9: #00474b !default;
