@import "./_variables.scss"

// UTILITY CLASSES

// This section is taking inspiration from https://moderncss.dev/

.center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.flex
  display: flex

.mauto  // flex.mauto. to center a single child element
  margin: auto

//

.m-0
  margin: 0 !important
.m-1
  margin: $spacer !important
.m-2
  margin: 2 * $spacer !important
.p-0
  padding: 0 !important
.p-1
  padding: $spacer !important
.p-2
  padding: 2 * $spacer !important
.w-100
  width: 100% !important
.mw-100
  max-width: 100% !important

.row
  display: flex
  flex-flow: row wrap
  justify-content: space-between

.column
  display: flex
  flex-flow: column nowrap

.figure img
  max-width: 100%
  max-height: 100%
  @media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  /* IE only */
    min-width: 1px /* IE hack */

.cover
  background-size: cover
  background-position: center // center
  padding-bottom: 62.5%
  &.square, &.circle
    padding-bottom: 100%
  &.portrait
    padding-bottom: 162.5%

.shadow
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15)

.bordered
  /*border-color: darkgray */
  border-width: thin
  border-style: solid

.rounded
  border-radius: $spacer

.elliptic // circular if width = height
  border-radius: 50%

.debug
  background: red



