@import "./_variables.scss"

/* UTILITY CLASSES */

.row
  display: flex
  flex-flow: row wrap
  justify-content: space-between

.column
  display: flex
  flex-flow: column nowrap

.figure img
  max-width: 100%
  max-height: 100%

/* IE hack, IE only */
@media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .figure img
    min-width: 1px /* IE hack */

.center
  display: flex
  justify-content: center
  align-items: center

.bordered
  /*border-color: darkgray */
  border-width: thin
  border-style: solid

.rounded
  border-radius: $spacer

.ellipse
  border-radius: 50%

.shadow
  box-shadow: 0.2rem 0.2rem 0.2rem lightgray

.debug
  background: red

